@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  transition: all 0.7s ease-out; }

#wrapper {
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 0.025em;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.overhided {
  height: 100px;
  overflow: hidden;
  background-color: transparent; }

a {
  transition: 0.7s; }
  a:hover {
    letter-spacing: 0.07em;
    font-size: +5; }

.block__title {
  padding: 70px 0 25px 0; }

.title {
  color: #333333;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 auto;
  transition: 0.7s; }
  .title:hover {
    letter-spacing: 0.14em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999; }

.headsection {
  display: block;
  width: 100%;
  min-height: 100px;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

.headin1220 {
  position: relative;
  padding: 0px 15px;
  max-width: 1220px;
  margin: 0 auto; }

.headcont {
  max-width: 1220px;
  display: flex;
  flex-wrap: wrap;
  transition: 0.7s; }

.logo {
  max-width: 80px;
  max-height: 80px;
  margin-right: auto;
  transition: 0.7s; }
  .logo:hover {
    width: 100px;
    height: 100px; }

.menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto 0;
  margin-left: auto;
  transition: 0.7s ease-in; }

.menu-toggle .bar {
  display: none; }

.menu li {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.7s ease-out; }
  .menu li:hover {
    background-color: #337ab7;
    border-radius: 20px;
    vertical-align: middle;
    color: #ffffff;
    margin: 0 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4); }

.menu li:last-child {
  background-color: #337ab7;
  border-radius: 20px;
  vertical-align: middle;
  transition: all 0.7s ease-out; }

.menu li:last-child .menu__item {
  color: #ffffff; }

.menu li:hover .menu__item {
  color: #ffffff;
  transition: 0.7s ease-in; }

.menu__item {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #666666;
  text-decoration: none;
  margin: 0 20px;
  opacity: 1;
  transition: 0.7s;
  transition: all 0.7s ease-out; }
  .menu__item:focus {
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #ffffff; }

.menu a:hover {
  font-size: 18px;
  letter-spacing: 0.05em; }

.navig ul {
  margin: auto auto; }

.main {
  flex-grow: 1; }

.content__wrapper {
  background-color: #ffffff;
  width: 100%; }

.form__wrapper {
  background-color: #f7f7f7;
  margin-top: 100px; }

.forminfo {
  max-width: 1180px;
  display: flex;
  margin-top: 55px;
  padding: 55px 15px 30px 15px;
  margin: 0 auto; }

.info {
  display: block;
  max-width: 540px;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: 85px; }

.info__title {
  font-size: 35px;
  margin: 0 0 30px 0;
  letter-spacing: 0.032em;
  color: #333333;
  font-weight: 2000;
  transition: 0.7s; }
  .info__title:hover {
    letter-spacing: 0.033em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    text-decoration-style: wavy; }

.info__text {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  color: #818181; }

.forms {
  display: block;
  margin-left: auto; }

.form__main {
  display: flex;
  flex-direction: column; }

.form__title {
  margin-bottom: 30px;
  height: 15px; }

.form__title__text {
  font-size: 23px;
  line-height: 18px;
  font-weight: 700;
  color: #535353;
  margin: 0 auto;
  transition: 0.7s; }
  .form__title__text:hover {
    letter-spacing: 0.14em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

.myform {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0 auto; }

.myform .form-group {
  padding-bottom: 2px; }

.labelreq {
  display: flex;
  text-align: center;
  vertical-align: middle; }

.label__rq {
  height: 7px;
  margin: auto 0 auto 2px; }

.form__label {
  margin: 0 0 7px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #535353;
  height: 16px; }

.checkbox {
  align-items: left; }

.checkbox p {
  display: block;
  margin: 0 0 7px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #535353;
  height: 16px; }

.span {
  margin: 0; }

.form__input {
  display: block;
  max-width: 568px;
  min-width: 268px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 4px; }

.form__input:focus {
  border: 2px solid #66afe9;
  box-shadow: 0 0 15px #66afe9;
  outline-style: none; }

.form__item ._error {
  box-shadow: inset 0 0 15px #fac3c3;
  border: 1px solid #fd9898;
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #dc7f7f; }

.form__submit {
  max-width: 370px;
  height: 50px;
  color: #ffffff;
  background-color: #337ab7;
  border: 0;
  text-transform: uppercase;
  border-radius: 24px;
  margin: 0 auto;
  opacity: 1;
  transition: 1s; }
  .form__submit:focus {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4); }
  .form__submit:hover {
    opacity: 0.7;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.1em; }

.checkbox {
  display: flex;
  margin-bottom: 35px; }

.checkbox ._error {
  box-shadow: inset 0 0 15px #fac3c3;
  border: 1px solid #fd9898; }

.form__label a {
  color: #3498db;
  text-decoration: none; }

.sitebuilding {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center; }

.sitebuilding__wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 1250px;
  margin-top: -100px;
  align-items: center;
  margin-bottom: 65px; }

.siteb-container {
  max-width: 1220px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%; }

.card {
  padding: 10px 0;
  background-color: #ffffff;
  color: #111;
  font-size: 16px;
  text-align: center;
  align-items: center;
  margin: 0 auto; }

.siteb-slider__img {
  text-align: center; }

.siteb-slider__title {
  text-align: center;
  color: #666666;
  font-size: 20px;
  font-weight: 700; }

.siteb-slider__title__text {
  text-align: center; }

.siteb-slider__line {
  border-color: #3498db;
  background-color: #3498db; }

.siteb-slider__info {
  text-align: center; }

.siteb-slider__info__text {
  text-align: center;
  color: #818181;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.025em;
  padding: 0 10px;
  letter-spacing: 0.02em; }

.stats {
  min-height: 310px;
  background-color: #3498db;
  display: flex;
  color: #ffffff; }

.stats__wrapper {
  max-width: 1220px;
  padding: 0 15px;
  margin: auto; }

.stats__item {
  max-width: 300px; }

.stats__list {
  display: flex;
  margin: 0;
  padding: 0; }

.stats__list li {
  list-style: none;
  text-align: center;
  transition: 0.7s;
  border-radius: 18px; }
  .stats__list li:hover {
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    vertical-align: middle;
    color: #ffffff;
    margin: 0 10px; }

.stats__list li:nth-child(n) {
  margin-left: auto;
  margin-right: auto; }

.stats__numbers {
  font-size: 32px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
  transition: 0.7s; }
  .stats__numbers:hover {
    letter-spacing: 0.14em; }

.stats__item_photo {
  /*width: 50px;*/
  margin-bottom: 25px; }

.review {
  margin-top: -100px; }

.review__container {
  color: #333333; }

.review__wrapper {
  margin-top: 65px;
  margin-top: 65px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center; }

.review__title {
  margin-bottom: 25px; }

.review__slider {
  align-items: center; }

.review__swiper__wrapper {
  align-items: center; }

.review__slide {
  text-align: center;
  align-items: center;
  max-height: 100%; }

.review__text {
  padding-top: 40px;
  color: #666666;
  text-align: center;
  padding: 0;
  font-size: 21px;
  width: 880px;
  margin: 0 auto 40px auto;
  display: block; }

.review__author {
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px; }

.review__spec {
  color: #a7a7a7;
  font-style: italic; }

.reviewe__slide .swiper-slide {
  max-width: 980px; }

.blockquote {
  position: relative;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  width: 980px;
  margin-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 105px; }

.blockquote:before,
.blockquote:after {
  position: absolute;
  color: #c4c4c4;
  font-size: 100px;
  font-family: 'Staatliches', sans-serif;
  height: 100px;
  transition: 0.7s; }

.blockquote:before {
  content: '“';
  left: 0px;
  top: -20px;
  overflow-y: visible; }

.blockquote:after {
  content: '”';
  right: 0px;
  bottom: 40px; }

.blockquote cite {
  color: #337AB7;
  font-size: 15px;
  padding-top: 10px;
  display: block; }

.view__pagination {
  margin-bottom: 35px; }

.review__pagination .mentors__pagination .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #666666; }

.review__pagination .mentors__pagination .swiper-pagination.swiper-pagination-bullet {
  background-color: #b3b3b3; }

.swiper-pagination.swiper-pagination-bullet {
  margin: 10px;
  background-color: #b3b3b3; }

.swiper-pagination .swiper-pagination-bullet-active {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: 10px;
  background-color: #666666; }

.video {
  text-align: center;
  width: 100%;
  margin-top: -100px; }

.video__container {
  background-color: #f7f7f7;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column; }

.video__wrapper {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto; }

.video__text {
  margin-bottom: 15px;
  display: block;
  min-height: 130px;
  color: #787878; }

.video__content {
  max-height: 520px; }

.mentors__wrapper {
  margin-top: -100px; }

.mentors__slider {
  align-items: center; }

.mentors_slider__wrapper {
  align-items: center; }

.mentors__slide {
  text-align: center;
  align-items: center;
  max-width: 100%; }

.mentors__slide__wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  max-width: 1220px;
  padding: 0  15px;
  margin-bottom: 20px; }

.mentors__slide__twoblocks {
  text-align: center;
  display: flex;
  flex-wrap: wrap !important; }

.mentors__slide__image {
  margin: 0 auto 0 auto; }

.mentors__slide__info {
  margin-left: auto;
  text-align: start; }
  .mentors__slide__info hr {
    background-color: #f7f7f7;
    margin: 15px 0 20px 0; }
  .mentors__slide__info .mentors__slide__info__name {
    color: #3498db;
    font-size: 20px;
    font-weight: bold; }
  .mentors__slide__info .mentors__slide__about {
    max-width: 700px;
    color: #9d9d9d;
    overflow: hidden; }

.view__pagination {
  margin-bottom: 35px; }

.review__pagination .swiper-pagination-bullet-active {
  background-color: #666666; }

.review__pagination .swiper-pagination-bullet {
  background-color: #b3b3b3; }

.maps__wrapper {
  height: 400px; }

.stats {
  min-height: 310px;
  background-color: #3498db;
  display: flex;
  color: #ffffff; }

.stats__wrapper {
  max-width: 1220px;
  padding: 0 15px;
  margin: auto; }

.stats__item {
  max-width: 300px; }

.stats__list {
  display: flex;
  margin: 0;
  padding: 0; }

.stats__list li {
  list-style: none;
  text-align: center;
  transition: 0.7s;
  border-radius: 18px; }
  .stats__list li:hover {
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    vertical-align: middle;
    color: #ffffff;
    margin: 0 10px; }

.stats__list li:nth-child(n) {
  margin-left: auto;
  margin-right: auto; }

.stats__numbers {
  font-size: 32px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
  transition: 0.7s; }
  .stats__numbers:hover {
    letter-spacing: 0.14em; }

.stats__item_photo {
  /*width: 50px;*/
  margin-bottom: 25px; }

.contacts {
  min-height: 200px;
  background-color: #3498db;
  display: flex; }

.contacts__wrapper {
  max-width: 1220px;
  padding: 0 15px;
  margin: auto; }

.contacts__list {
  display: flex;
  margin: 0;
  padding: 0; }

.contacts__item {
  max-width: 300px; }
  .contacts__item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400; }
  .contacts__item p {
    font-weight: bold;
    color: #ffffff; }

.contacts__list li {
  list-style: none;
  text-align: center;
  transition: 0.7s; }
  .contacts__list li:hover {
    box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
    border-radius: 18px;
    vertical-align: middle;
    color: #ffffff;
    margin: 0 10px; }

.contacts__list li:nth-child(n) {
  margin-left: auto;
  margin-right: auto; }

.contacts__item_photo {
  height: 50px;
  /*width: 50px;*/
  margin-bottom: 20px; }

.footsection {
  margin-top: auto;
  display: block;
  width: 100%;
  bottom: 0;
  font-family: 'Open Sans'; }

.foot__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto; }

.copyrights {
  background-color: #f7f7f7;
  max-width: 100%;
  max-height: 156px; }

.copyrights__container {
  position: relative;
  max-width: 1220px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  flex-direction: column; }

.copyrights__item {
  margin: auto;
  display: flex;
  flex-direction: column; }

.copyrights__item a {
  text-align: center; }

.copyrights__link {
  text-align: center;
  color: #76a4e1;
  text-decoration: none;
  margin: auto;
  margin-bottom: 16px; }

.copyrights__terms {
  text-align: center;
  margin: auto;
  color: #938e8e;
  text-decoration: none; }

@media (min-width: 1220px) {
  .form__input {
    min-width: 568px; }
  .form__submit {
    min-width: 370px; }
  .stats__wrapper {
    width: 1220px; }
  .stats__item {
    width: 300px; }
  .contacts__item {
    width: 300px; }
  .contacts__wrapper {
    width: 1220px; }
  .checkbox {
    text-align: left; }
  .headcont {
    width: 1220px; }
  .headin1220 {
    width: 1220px; }
  .copyrights__container {
    height: 156px;
    width: 1220px; }
  .card {
    width: 350px; } }

@media (max-width: 992px) {
  #wrapper {
    max-width: 750px; }
  .info {
    margin: 0 auto; }
  .mentors__slide__info__name {
    font-size: 15px !important; } }

@media (max-width: 1220px) {
  .headcont {
    width: 1220px; } }
  @media (max-width: 1220px) and (min-width: 1220px) {
    .headcont {
      width: calc(290px + 930 * ((100vw - 320px) / 1600)); } }

@media (max-width: 1220px) {
  .video__text {
    width: calc(290px + 930 * ((100vw - 320px) / 1600)); }
  #wrapper {
    max-width: 970px; }
  .video__text {
    max-width: 555; }
  .menu {
    right: calc(15px + -15 * ((100vw - 320px) / 1600)); }
  #wrapper {
    max-width: none; }
  .review__text {
    width: calc(240px + 640 * ((100vw - 320px) / 1600));
    margin-left: calc(25px + 15 * ((100vw - 320px) / 1600));
    margin-right: calc(25px + 15 * ((100vw - 320px) / 1600)); }
  .blockquote {
    width: calc(290px + 690 * ((100vw - 320px) / 1600)); }
  .blockquote:before,
  .blockquote:after {
    font-size: calc(65px + 35 * ((100vw - 320px) / 1600)); }
  .blockquote:before {
    top: calc(-10px + -10 * ((100vw - 320px) / 1600)); }
  .stats__list {
    padding-top: calc(20px + -20 * ((100vw - 320px) / 1600));
    flex-wrap: wrap; }
  .contacts__list {
    flex-wrap: wrap; }
  .headcont {
    flex-wrap: wrap;
    width: 1220px; } }
  @media (max-width: 1220px) and (max-width: 1220px) {
    .headcont {
      width: calc(290px + 930 * ((100vw - 320px) / 900)); } }

@media (max-width: 1220px) {
  .forminfo {
    flex-wrap: wrap !important; }
  .info {
    margin-bottom: calc(35px + 50 * ((100vw - 320px) / 1600)); }
  .info__title {
    font-size: calc(25px + 10 * ((100vw - 320px) / 1600));
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1600)); }
  .info__text {
    width: calc(290px + 210 * ((100vw - 320px) / 1600));
    font-size: calc(15px + 1 * ((100vw - 320px) / 1600)); }
  .forms {
    margin: 0 auto; }
  .form__title__text {
    margin-left: calc(2px + -2 * ((100vw - 320px) / 1600));
    margin-right: calc(2px + -2 * ((100vw - 320px) / 1600));
    font-size: calc(22px + 1 * ((100vw - 320px) / 1600)); }
    .form__title__text:hover {
      letter-spacing: calc(0.6px + 1.64 * ((100vw - 320px) / 1600)); }
  .form__input {
    width: calc(268px + 300 * ((100vw - 320px) / 1600)); }
  .form__submit {
    width: calc(277px + 93 * ((100vw - 320px) / 1600)); }
  .block__title {
    margin-bottom: calc(30px + -30 * ((100vw - 320px) / 1600)); }
  .card {
    width: calc(190px + 160 * ((100vw - 320px) / 1600)); }
  .siteb-slider__img img {
    width: calc(65px + 20 * ((100vw - 320px) / 1600)); }
  .stats__item {
    width: calc(120px + 180 * ((100vw - 320px) / 1600));
    margin-bottom: calc(20px + -20 * ((100vw - 320px) / 1600)); }
  .stats__about {
    font-size: calc(11px + 5 * ((100vw - 320px) / 1600)); }
  .stats__item_photo {
    margin-bottom: calc(5px + 20 * ((100vw - 320px) / 1600)); }
  .stats__numbers {
    font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600)); }
  .stats__list li {
    height: calc(173px + 10 * ((100vw - 320px) / 1600)); }
  .video__content iframe {
    width: calc(290px + 930 * ((100vw - 320px) / 1600));
    height: calc(190px + 330 * ((100vw - 320px) / 1600)); }
  .mentors__wrapper .block__title, .review__wrapper .block__title {
    padding-top: calc(35px + 35 * ((100vw - 320px) / 1600));
    padding-bottom: calc(5px + 20 * ((100vw - 320px) / 1600)); }
  .review__wrapper .block__title {
    margin-bottom: calc(30px + -30 * ((100vw - 320px) / 1600)); }
  .mentors__slide__image img {
    width: calc(145px + 192 * ((100vw - 320px) / 1600));
    margin-bottom: calc(20px + -20 * ((100vw - 320px) / 1600)); }
  .mentors__slide__info hr {
    margin-top: calc(0px + 15 * ((100vw - 320px) / 1600));
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600)); }
  .mentors__slide__info p {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1600)); }
  .mentors__slide__info__name {
    font-size: calc(10px + 10 * ((100vw - 320px) / 1600)); }
  .mentors__slide__about {
    margin-bottom: calc(15px + -15 * ((100vw - 320px) / 1600)); }
  .mentors__slide__about p:last-child {
    margin-bottom: calc(0px + 13 * ((100vw - 320px) / 1600)); }
  .title {
    font-size: calc(26px + 4 * ((100vw - 320px) / 1600));
    height: calc(33px + 4 * ((100vw - 320px) / 1600)); }
    .title:hover {
      letter-spacing: calc(1.12px + 1.12 * ((100vw - 320px) / 1600)); }
  .contacts__item {
    width: calc(120px + 180 * ((100vw - 320px) / 1600));
    margin-top: calc(20px + -20 * ((100vw - 320px) / 1600));
    padding-top: calc(0px + 10 * ((100vw - 320px) / 1600)); }
    .contacts__item p {
      margin: calc(5px + 11 * ((100vw - 320px) / 1600));
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      font-size: calc(13px + 3 * ((100vw - 320px) / 1600)); }
    .contacts__item a {
      font-size: calc(10px + 6 * ((100vw - 320px) / 1600));
      width: 100%; }
  .contacts__wrapper {
    padding-top: calc(20px + -20 * ((100vw - 320px) / 1600));
    padding-bottom: calc(20px + -20 * ((100vw - 320px) / 1600)); }
  .contacts__item_photo {
    margin-bottom: calc(5px + 15 * ((100vw - 320px) / 1600));
    height: calc(40px + 10 * ((100vw - 320px) / 1600)); }
  .copyrights__container {
    height: calc(111px + 45 * ((100vw - 320px) / 1600)); }
  .copyrights__item {
    font-size: calc(13px + 3 * ((100vw - 320px) / 1600)); }
  .copyrights__link {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 1600)); } }

@media screen and (max-width: 1023px) {
  .headcont {
    position: relative; }
  .mentors__slide__info {
    text-align: center;
    margin: auto; }
  .menu {
    display: grid;
    grid-template-columns: auto;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 9999;
    align-items: center;
    width: 1220px;
    left: -15px;
    top: 80px;
    padding-bottom: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-out;
    text-align: center;
    opacity: 0;
    display: none; } }
  @media screen and (max-width: 1023px) and (max-width: 1220px) {
    .menu {
      width: calc(320px + 900 * ((100vw - 320px) / 900)); } }

@media screen and (max-width: 1023px) {
    .menu a:hover {
      font-size: calc(14px + 4 * ((100vw - 320px) / 1600)); }
  .act {
    opacity: 1;
    display: block; }
  .menu__item {
    text-align: center;
    margin: 0 auto;
    padding: 0 10px; }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%); }
  .menu-toggle .bar {
    display: block;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    opacity: 1; }
  .menu-toggle {
    display: flex;
    background-color: #337ab7;
    border-radius: 4px;
    height: 32px;
    width: 42px;
    cursor: pointer; }
  #mobile.menu.active {
    opacity: 1; }
  .menu.active {
    opacity: 1;
    top: 0; }
  .menu li {
    width: calc(140px + 260 * ((100vw - 320px) / 1600));
    margin: 0 auto; }
    .menu li:hover {
      margin: 15px auto 15px auto; }
  .menu__item {
    margin: 0 auto;
    font-size: calc(13px + 3 * ((100vw - 320px) / 1600));
    letter-spacing: calc(0.3px + 0.82 * ((100vw - 320px) / 1600)); } }

@media (max-width: 856px) {
  .form__main {
    align-items: center; }
  .form__input {
    margin: 0 auto;
    margin-bottom: 10px; }
  .form__label p {
    text-align: start; } }

@media (max-width: 850px) {
  .card {
    width: 100%;
    margin: 0;
    flex-shrink: 0; }
  .siteb-container .swiper-wrapper {
    justify-content: initial;
    flex-wrap: nowrap; } }

/*# sourceMappingURL=style.css.map */
