@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%; }

#wrapper {
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 0.025em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff; }

.overhided {
  height: 100px;
  overflow: hidden;
  background-color: transparent; }

.title {
  color: #333333;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999; }

.headsection {
  display: block;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

.headin1220 {
  position: relative;
  padding: 0px 15px;
  width: 1220px;
  margin: 0 auto; }

.headcont {
  width: 1220px;
  display: flex; }

.logo {
  width: 80px;
  height: 80px;
  margin-right: auto; }

.contacts p {
  margin: 0; }

.menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto 0;
  text-align: center;
  align-items: center; }

.menu li {
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center; }

.menu li:last-child {
  background-color: #337ab7;
  border-radius: 20px;
  vertical-align: middle; }

.menu li:last-child .menu__item {
  color: #ffffff; }

.menu__item {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #666666;
  text-decoration: none;
  margin: 0 20px; }

.menu a:hover {
  border-bottom: 2px solid #ffffff; }

.navig ul {
  margin: auto auto; }

.main {
  flex-grow: 1; }

.content__wrapper {
  background-color: #ffffff;
  width: 100%; }

.form__wrapper {
  background-color: #f7f7f7;
  margin-top: 100px; }

.forminfo {
  width: 1220px;
  display: flex;
  margin-top: 55px;
  padding: 55px 15px 30px 15px;
  margin: 0 auto; }

.info {
  display: block;
  width: 540px;
  margin-right: auto;
  text-align: center;
  padding-left: 40px;
  margin-top: auto;
  margin-bottom: 85px; }

.info__title {
  font-size: 35px;
  margin: 0 0 30px 0;
  letter-spacing: 0.032em;
  color: #333333; }

.info__text {
  width: 500px;
  margin: 0;
  padding: 0;
  color: #818181; }

.forms {
  display: block;
  margin-left: auto; }

.popup-main {
  /*margin: 35px 0 25px 0;
    margin-bottom: 25px;*/
  display: flex;
  flex-direction: column;
  /* align-items: center;*/ }

.popup-title {
  margin-bottom: 30px;
  height: 15px; }

.form__title {
  font-size: 23px;
  line-height: 18px;
  font-weight: 700;
  color: #535353;
  margin: 0; }

.popup-close {
  display: flex;
  width: 27px;
  height: 27px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -27px;
  top: -27px;
  background-color: #777777;
  border: none; }

.popupcloseimg {
  display: block;
  width: 15px;
  height: 15px; }

.popup-close a {
  margin: 0;
  text-decoration: none; }

.myform {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0 auto; }

.myform .form-group {
  padding-bottom: 2px; }

.labelreq {
  display: flex;
  text-align: center;
  vertical-align: middle; }

.label__rq {
  height: 7px;
  margin: auto 0 auto 2px; }

.form__label {
  display: block;
  margin: 0 0 7px 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #535353;
  height: 16px; }

.form__input {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 4px; }

.form__input:focus {
  border: 2px solid #66afe9;
  box-shadow: 0 0 15px #66afe9;
  outline-style: none; }

.form__item ._error {
  box-shadow: inset 0 0 15px #fac3c3;
  border: 1px solid #fd9898;
  font-family: 'PT Sans';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  color: #dc7f7f; }

.form__submit {
  width: 370px;
  height: 50px;
  color: #ffffff;
  background-color: #337ab7;
  border: 0;
  text-transform: uppercase;
  border-radius: 24px;
  margin: 0 auto; }

.form__submit:focus {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4); }

.checkbox {
  display: flex;
  margin-bottom: 35px; }

.checkbox ._error {
  box-shadow: inset 0 0 15px #fac3c3;
  border: 1px solid #fd9898; }

.form__label a {
  color: #3498db;
  text-decoration: none; }

/*.siteb-slider .swiper-wrapper {
	justify-content: space-between;
	flex-wrap: wrap;
}


@media (max-width: 800px) {
	.siteb-slider__slide {
		width: 350px;
		margin: 0;
		flex-shrink: 0;
	}

	.siteb-slider .swiper-wrapper {
		justify-content: initial;
		flex-wrap: nowrap;
	}
}

/*SLIDER (SITEBUILDING)*/
/*.swiper-wrapper {
    flex-wrap: none;
}*/
.sitebuilding__wrapper {
  text-align: center;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -100px; }

/*.siteb-slider .swiper-wrapper {
	justify-content: space-between;
	flex-wrap: wrap;
}*/
.title {
  color: #333333;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0 auto; }

.siteb-slider {
  /*width: 100%;*/
  margin: 0 auto; }

.siteb-slider__wrapper {
  display: flex;
  margin: auto;
  position: relative; }

.siteb-slider__slide {
  width: 350px;
  margin-left: auto;
  margin-right: auto; }

.siteb-slider__img {
  text-align: center; }

.siteb-slider__title {
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400; }

.siteb-slider__title__text {
  text-align: center; }

.siteb-slider__line {
  border-color: #3498db;
  background-color: #3498db; }

.siteb-slider__info {
  text-align: center; }

.siteb-slider__info__text {
  text-align: center;
  color: #818181;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.025em;
  padding: 0 10px;
  letter-spacing: 0.02em; }

.siteb-slider .swiper-button-next::after,
.siteb-slider .swiper-button-prev::after {
  cursor: auto;
  color: #f7f7f7; }

.sideb-slider .swiper-pagination-progressbar-fill {
  background-color: #3498db; }

.siteb-slider .swiper-scrollbar-drag {
  background-color: #3498db; }

.stats {
  height: 310px;
  background-color: #3498db;
  display: flex;
  color: #ffffff; }

.stats__wrapper {
  width: 1220px;
  padding: 0 15px;
  margin: auto; }

.stats__item {
  width: 300px; }

.stats__list {
  display: flex;
  margin: 0;
  padding: 0; }

.stats__list li {
  list-style: none;
  text-align: center; }

/*.contacts__list li:nth-child(1) {
    margin-right: auto;
}
.contacts__list li:last-child {
    margin-left: auto;
}
.contacts__list li:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}*/
.stats__list li:nth-child(n) {
  margin-left: auto;
  margin-right: auto; }

.stats__numbers {
  font-size: 32px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px; }

.stats__item_photo {
  /*width: 50px;*/
  margin-bottom: 25px; }

.review {
  margin-top: -100px; }

.review__container {
  color: #333333;
  margin-top: 65px; }

.review__wrapper {
  /*width: 980px;
    /*height: 530px;*/
  margin-top: 65px;
  margin-top: 65px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center; }

.review__title {
  margin-bottom: 25px; }

.review__swiper {
  align-items: center; }

.review__swiper__wrapper {
  align-items: center; }

.review__slide {
  text-align: center;
  align-items: center; }

.review__text {
  padding-top: 40px;
  color: #666666;
  text-align: center;
  padding: 0;
  font-size: 21px;
  width: 880px;
  margin: 0 auto 40px auto;
  display: block; }

.review__author {
  color: #333333;
  font-weight: bold;
  margin-bottom: 5px; }

.review__spec {
  color: #a7a7a7;
  font-style: italic; }

.reviewe__slide .swiper-slide {
  width: 980px; }

.review__slide {
  width: 100%;
  text-align: center; }

.blockquote-8 {
  position: relative;
  padding: 16px 0px;
  margin: 16px 46px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  width: 980px;
  margin-bottom: 105px; }

.blockquote-8:before,
.blockquote-8:after {
  position: absolute;
  color: #c4c4c4;
  font-size: 100px;
  font-family: 'Staatliches', sans-serif;
  height: 100px; }

.blockquote-8:before {
  content: '“';
  left: 0px;
  top: -20px; }

.blockquote-8:after {
  content: '”';
  right: 0px;
  bottom: 40px; }

.blockquote-8 cite {
  color: #337AB7;
  font-size: 15px;
  padding-top: 10px;
  display: block; }

.view__pagination {
  margin-bottom: 35px; }

.review__pagination .swiper-pagination-bullet-active {
  background-color: #666666; }

.review__pagination .swiper-pagination-bullet {
  background-color: #b3b3b3; }

.video {
  text-align: center;
  width: 100%;
  margin-top: -100px; }

.video__container {
  background-color: #f7f7f7;
  padding: 60px 0; }

.video__wrapper {
  width: 1220px;
  padding: 0 15px;
  margin: 0 auto; }

.video__text {
  margin-bottom: 15px;
  display: block;
  height: 130px;
  color: #787878; }

.footsection {
  margin-top: auto;
  display: block;
  width: 100%;
  bottom: 0;
  font-family: 'Open Sans'; }

.footin980 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto; }

.contacts {
  height: 200px;
  background-color: #3498db;
  display: flex; }

.contacts__container {
  width: 1220px;
  padding: 0 15px;
  margin: auto; }

.contacts__list {
  display: flex;
  margin: 0;
  padding: 0; }

.contacts__item {
  width: 300px; }

.contacts__list li {
  list-style: none;
  text-align: center;
  /*margin-right: auto;
    margin-left: auto;*/ }

/*.contacts__list li:nth-child(1) {
    margin-right: auto;
}
.contacts__list li:last-child {
    margin-left: auto;
}
.contacts__list li:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}*/
.contacts__list li:nth-child(n) {
  margin-left: auto;
  margin-right: auto; }

.contacts__item_photo {
  height: 50px;
  /*width: 50px;*/
  margin-bottom: 20px; }

.contacts__item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400; }

.contacts__item p {
  font-weight: bold; }

.copyrights {
  background-color: #f7f7f7;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column; }

.copyrights__container {
  width: 1220px;
  padding: 0 15px;
  margin: auto; }

.copyrights__item {
  /*margin-top: 50px;*/
  /* text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;*/
  margin: auto;
  display: flex;
  flex-direction: column; }

.copyrights__item a {
  text-align: center; }

.copyrights__link {
  text-align: center;
  color: #76a4e1;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Open Sans'; }

.copyrights__terms {
  margin-top: 10px;
  text-align: center;
  margin: auto;
  color: #938e8e;
  text-decoration: none; }

@media (hover: hover) {
  .list li:nth-child(#1) span {
    transition-delay: 0s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.05s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.1s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.15s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.2s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.25s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.3s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.35s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.4s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.45s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.5s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.55s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.6s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.65s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.7s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.75s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.8s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.85s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.9s; }
  .list li:nth-child(#1) span {
    transition-delay: 0.95s; }
  .list li:nth-child(#1) span {
    transition-delay: 1s; } }

/*# sourceMappingURL=style.css.map */
