
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

$maxWidth:  1920;
$maxWidthContainer: 1220;

@mixin  adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        #{$property}: $startSize + px; 
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }

    @else if $type==2 {
        #{$property}: $startSize + px; 
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    }
    @else if $type==3 {
        #{$property}: $startSize + px; 
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 850px) / #{$maxWidth - 850}));
        }
    }
    @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}
* {	
    box-sizing: border-box;	
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    transition: all 0.7s ease-out;
}
#wrapper {
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 0.025em;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    //color: #ffffff;
}
.overhided {
    height: 100px;
    overflow: hidden;
    background-color: transparent;
}
a {
    transition: 0.7s;
    &:hover {
        letter-spacing: 0.07em;
        font-size: +5;
    }
}
.title {
    color: #333333;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0 auto; 
    transition: 0.7s;

    &:hover {
        letter-spacing: 0.14em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 9999;
}
.headsection {
    display: block;
    width: 100%;
    min-height: 100px;
    align-items: center;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.headin1220 {
    position: relative;
    padding: 0px 15px;
    max-width: 1220px;
    margin: 0 auto;
}
.headcont {
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.7s;
}
.logo {
    max-width: 80px;
    max-height: 80px;
    margin-right: auto;
    transition: 0.7s;
    &:hover {
        width: 100px;
        height: 100px;
    }
}

.menu {
    display: flex;
    justify-content: center;
    padding: 0;
    margin:  auto 0;
    margin-left: auto;
    //margin-left:auto;
    //text-align: center;
    //align-items: center;
    //float:right;
    //  justify-self: end;
    transition: 0.7s ease-in;
    
}

.menu li {
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
    transition: all 0.7s ease-out;
    &:hover {
        background-color: #337ab7;
        border-radius: 20px;
        vertical-align: middle;
        color: #ffffff;
        margin: 0 10px; 
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
        
    }

}

.menu li:last-child {
    background-color: #337ab7;
    border-radius: 20px;
    vertical-align: middle;
    transition: all 0.7s ease-out;
}
.menu li:last-child .menu__item {
    color: #ffffff; 

}
.menu li:hover .menu__item {
    color: #ffffff;
    transition: 0.7s ease-in;
}
.menu__item {

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #666666;
    text-decoration: none;
    margin: 0 20px;
    opacity: 1;
    transition: 0.7s;
    &:focus {
        text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
        border-bottom: 2px solid #ffffff;
    }
    transition: all 0.7s ease-out;

}

.menu a:hover {
    //border-bottom: 2px solid #ffffff;
    font-size: 18px;
    letter-spacing: 0.05em;
    
}

.navig ul {
    margin: auto auto;
}

.main {
    flex-grow: 1;

}

.content__wrapper {
    background-color: #ffffff;
    width: 100%;
}

.form__wrapper {
    background-color: #f7f7f7;
    margin-top: 100px;
}
.forminfo {
    max-width: 1180px;
    display: flex;
    margin-top: 55px;
    padding: 55px 15px 30px 15px;
    margin: 0 auto;
}
.info {
    display: block;
    max-width: 540px;
    margin-right: auto;
    text-align: center;
    //padding-left: 40px;
    margin-top: auto;
    margin-bottom: 85px;
    
}
.info__title {
    font-size: 35px;
    margin: 0 0 30px 0;
    letter-spacing: 0.032em;
    color: #333333;
    font-weight: 2000;
    transition: 0.7s;

    &:hover {
        letter-spacing: 0.033em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        text-decoration-style: wavy;
    }
}
.info__text {
    max-width: 500px;
    margin: 0 auto;
    //margin-right: 0;
    padding: 0;
    color: #818181;
}

.forms {
    display: block;
    margin-left: auto;
}



.popup-main {
    /*margin: 35px 0 25px 0;
    margin-bottom: 25px;*/
    display: flex;
    flex-direction: column;
    /* align-items: center;*/
}

.popup-title {
    margin-bottom: 30px;
    height:  15px;
}

.form__title {
    font-size: 23px;
    line-height: 18px;
    font-weight: 700;
    color: #535353;
    margin: 0;
    transition: 0.7s;

    &:hover {
        letter-spacing: 0.14em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    }
}

.myform {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
}

.myform .form-group {
    padding-bottom: 2px;
}
.labelreq {
    display: flex;
    text-align: center;
    vertical-align: middle;
}
.label__rq {
    height: 7px;
    margin: auto 0 auto 2px;
}
.form__label {
    margin: 0 0 7px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #535353;
    height: 16px;
}
.checkbox {
    align-items: left;
}
.checkbox p {
    display: block;
    margin: 0 0 7px 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #535353;
    height: 16px;
}
.span {
    margin: 0;
}


.form__input {
    display: block;
    //margin: 0 auto;
    max-width: 568px;
    min-width: 268px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.form__input:focus {
    border: 2px solid #66afe9;
    box-shadow: 0 0 15px #66afe9;
    outline-style: none;

}

.form__item ._error {
    box-shadow: inset 0 0 15px #fac3c3;
    border: 1px solid #fd9898;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    color: #dc7f7f;
}

.form__submit  {
    max-width: 370px;
    height: 50px;
    color: #ffffff;
    background-color:#337ab7;
    border: 0;
    text-transform: uppercase;
    border-radius: 24px;
    margin: 0 auto;
    opacity: 1;
    transition: 1s;
    &:focus {
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
    }
    &:hover {
        opacity: 0.7;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
        letter-spacing: 0.1em;
    }

}

.checkbox {
    display: flex;
    margin-bottom: 35px;
}
.checkbox ._error {
    box-shadow: inset 0 0 15px #fac3c3;
    border: 1px solid #fd9898;
}
.form__label a {
    color: #3498db;
    text-decoration: none;
}






/*.siteb-slider .swiper-wrapper {
	justify-content: space-between;
	flex-wrap: wrap;
}


@media (max-width: 800px) {
	.siteb-slider__slide {
		width: 350px;
		margin: 0;
		flex-shrink: 0;
	}

	.siteb-slider .swiper-wrapper {
		justify-content: initial;
		flex-wrap: nowrap;
	}
}

/*SLIDER (SITEBUILDING)*/
/*.swiper-wrapper {
    flex-wrap: none;
}*/
.sitebuilding__wrapper {
    text-align:center;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1220px;
    overflow: hidden;
    margin-top: -100px;
}
/*.siteb-slider .swiper-wrapper {
	justify-content: space-between;
	flex-wrap: wrap;
}*/
.block__title {
    padding: 70px 0 25px 0;
}



.siteb-slider {
    align-items: center;
}
.siteb-slider__wrapper {   
    //display: flex; 
    align-items: center;

    //margin: auto;
    //position: relative; 
}
.siteb-slider__slide {
    text-align:center;
    align-items: center;  
    //max-width: 350px;
    
    //width: 100%;
    /*margin-left:50px;
    margin-right: 50px;*/
    
}
.siteb-slider__img {
    text-align: center;
}
.siteb-slider__img img {
    //  max-width: 100%;
}
.siteb-slider__title {
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}
.siteb-slider__title__text {
    text-align: center;

}
.siteb-slider__line {
    border-color: #3498db;
    background-color: #3498db;
}
.siteb-slider__info {
    text-align: center;

}
.siteb-slider__info__text {
    text-align: center;
    color: #818181;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.025em;
    padding: 0 10px;
    letter-spacing: 0.02em;

}
.siteb-slider .swiper-button-next::after,
.siteb-slider .swiper-button-prev::after {
    cursor:auto;

    color:#f7f7f7;  
}
.sideb-slider .swiper-pagination-progressbar-fill {
    background-color: #3498db;
}

.siteb-slider .swiper-scrollbar-drag {
    background-color: #3498db;
}

.stats {
    min-height: 310px;
    background-color: #3498db;
    display: flex;
    color: #ffffff;
}
.stats__wrapper {
    max-width: 1220px;
    padding: 0 15px;
    margin: auto;
     //margin-top: -100px;
}
.stats__item {
    max-width: 300px;
}
.stats__list {
    display: flex;
    margin: 0;
    padding: 0;
}
.stats__list li {
    list-style: none;
    text-align: center;
    transition: 0.7s;
    border-radius: 18px;
    &:hover {
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
         //background-color: #337ab7;
        border-radius: 18px;
        vertical-align: middle;
        color: #ffffff;
        margin: 0 10px; 
         //margin: 0 15px;
    }
}

/*.stats {
   // height: 310px;
    background-color: #3498db;
    display: flex;
    color: #ffffff;
}
.stats__wrapper {
    width: 1220px;
    padding: 0 15px;
    margin: auto;
    //margin-top: -100px;
}
.stats__item {
    max-width: 300px;
}
.stats__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.stats__list li {
    list-style: none;
    text-align: center;
    transition: 0.7s;
    border-radius: 18px;
    &:hover {
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
        //background-color: #337ab7;
        border-radius: 18px;
        vertical-align: middle;
        color: #ffffff;
        margin: 0 10px; 
        //margin: 0 15px;
    }
}*/
    
/*.contacts__list li:nth-child(1) {
    margin-right: auto;
}
.contacts__list li:last-child {
    margin-left: auto;
}
.contacts__list li:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}*/
.stats__list li:nth-child(n) {
    margin-left: auto;
    margin-right: auto;
}
.stats__numbers {
    font-size: 32px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 20px;
    transition: 0.7s;
    &:hover {
        letter-spacing: 0.14em;
    }
}
.stats__item_photo {
    
    /*width: 50px;*/
    margin-bottom: 25px;
}




.review {
    margin-top: -100px;
}
.review__container {
    color:#333333;
    //margin-top: 65px;
}
.review__wrapper {
    /*width: 980px;
    /*height: 530px;*/
    margin-top: 65px;
    margin-top: 65px;

    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}
.review__title {    
    margin-bottom: 25px;
}



.review__slider {
    align-items: center;
}
.review__swiper__wrapper {
    align-items: center;
}
.review__slide {
    text-align:center;
    align-items: center;    
    max-height: 100%;
}
.review__text {
    padding-top: 40px;
    color: #666666;
    text-align:center;
    padding: 0;
    font-size: 21px;
    width: 880px;
    margin: 0 auto 40px auto;
    display: block;
}
.review__author {
    color: #333333;
    font-weight: bold;
    margin-bottom: 5px; 
}
.review__spec {
    color: #a7a7a7;
    font-style: italic;
}
.reviewe__slide .swiper-slide {
    max-width: 980px;
}

.blockquote-8 {
    position: relative;
    //padding: 16px 0px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    //background-color: #f8f8f8;
    width: 980px;
    margin-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 105px;
}


.blockquote-8:before,
.blockquote-8:after {
    position: absolute;
    color: #c4c4c4;
    font-size: 100px;
    font-family: 'Staatliches', sans-serif;    
    height: 100px;  
    transition: 0.7s;
}
.blockquote-8:before {
    content: '“';
    left: 0px;
    top: -20px;
    overflow-y: visible;
}
.blockquote-8:after {
    content: '”';
    right: 0px;
    bottom: 40px;
}
.blockquote-8 cite {
    color: #337AB7;
    font-size: 15px;
    padding-top: 10px;
    display: block;
}
.view__pagination {
    margin-bottom: 35px;    
}
.review__pagination .mentors__pagination .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #666666;
}
.review__pagination .mentors__pagination .swiper-pagination.swiper-pagination-bullet {
    background-color: #b3b3b3;
}



.video {
    text-align:center;
    width: 100%;
    margin-top: -100px;
}
.video__container {
    background-color: #f7f7f7; 
    padding-bottom: 65px; 
    display: flex;
    flex-direction: column  ;
}
.video__wrapper {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}
.video__text {
    margin-bottom: 15px;
    display: block;
    min-height: 130px;
    color: #787878;
}
.video__content {
   // margin-bottom: -5px;
    max-height: 520px;
}




.mentors__wrapper {
    margin-top: -100px;
}

.mentors__slider {
    align-items: center;
}
.mentors_slider__wrapper {
    align-items: center;
}
.mentors__slide {
    text-align:center;
    align-items: center;    
    max-width: 100%;
}
.mentors__slide .swiper-slide {
}
.mentors__slide__wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    max-width: 1220px;
    padding: 0  15px;
    margin-bottom: 20px;
}
.mentors__slide__twoblocks {
    text-align:center;
    display: flex;
    flex-wrap: wrap!important;
}
.mentors__slide__image {
    margin: 0 auto 0 auto;
}
.mentors__slide__info {
    margin-left: auto;
    text-align: start;
    hr {
        background-color: #f7f7f7;
        margin: 15px 0 20px 0;
        //border: 0;
    }
    .mentors__slide__info__name {
        color: #3498db;
        font-size: 20px;
        font-weight: bold;
    }
    .mentors__slide__about {
        max-width: 700px;
        color: #9d9d9d;
        overflow: hidden;
    }
}

.view__pagination {
    margin-bottom: 35px;    
}
.review__pagination .swiper-pagination-bullet-active {
    background-color: #666666;
}
.review__pagination .swiper-pagination-bullet {
    background-color: #b3b3b3;
}





.maps {
    
}

.maps__wrapper {
   // margin-bottom: -5px;
   height: 400px;
}




.stats {
    min-height: 310px;
    background-color: #3498db;
    display: flex;
    color: #ffffff;
}
.stats__wrapper {
    max-width: 1220px;
    padding: 0 15px;
    margin: auto;
     //margin-top: -100px;
}
.stats__item {
    max-width: 300px;
}
.stats__list {
    display: flex;
    margin: 0;
    padding: 0;
}
.stats__list li {
    list-style: none;
    text-align: center;
    transition: 0.7s;
    border-radius: 18px;
    &:hover {
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
         //background-color: #337ab7;
        border-radius: 18px;
        vertical-align: middle;
        color: #ffffff;
        margin: 0 10px; 
         //margin: 0 15px;
    }
}
.stats__list li:nth-child(n) {
    margin-left: auto;
    margin-right: auto;
}
.stats__numbers {
    font-size: 32px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 20px;
    transition: 0.7s;
    &:hover {
        letter-spacing: 0.14em;
    }
}
.stats__item_photo {
    
    /*width: 50px;*/
    margin-bottom: 25px;
}

//FOOTER
.footsection {
    margin-top:auto;
    display: block;
    width: 100%;

    bottom: 0;
    font-family: 'Open Sans';
}

.footin980 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contacts {
    min-height: 200px;
    background-color: #3498db;
    display: flex;
}
.contacts__wrapper {
    max-width: 1220px;
    padding: 0 15px;
    margin: auto;
}
.contacts__list {
    display: flex;
    margin: 0;
    padding: 0;
}
.contacts__item {
    max-width: 300px;
    a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 400;
    }
    p {
        font-weight: bold;
        color: #ffffff;
    }
}

.contacts__list li {
    list-style: none;
    text-align: center;
    transition: 0.7s;
    &:hover {
        box-shadow: 15px 0px 15px rgba(0, 0, 0, 0.4);
        border-radius: 18px;
        vertical-align: middle;
        color: #ffffff;
        margin: 0 10px; 
         //margin: 0 15px;
    }
}
/*.contacts__list li:nth-child(1) {
    margin-right: auto;
}
.contacts__list li:last-child {
    margin-left: auto;
}
.contacts__list li:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
}*/
.contacts__list li:nth-child(n) {
    margin-left: auto;
    margin-right: auto;
}
.contacts__item_photo {
    height: 50px;
    /*width: 50px;*/
    margin-bottom: 20px;
}



.copyrights {
    background-color: #f7f7f7;
    max-width: 100%;
    max-height: 156px; 
    
}
.copyrights__container {
    position: relative;
    max-width: 1220px;
    padding: 0 15px;
    margin: auto; 
    display: flex;
    flex-direction: column;  
}

.copyrights__item {
    /*margin-top: 50px;*/
    /* text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    
}
.copyrights__item a {
    text-align: center;
}
.copyrights__link {
    text-align: center;
    color: #76a4e1;
    text-decoration: none;
    margin: auto;
    margin-bottom: 16px;
}
.copyrights__terms {
    text-align: center;
    margin: auto;
    color: #938e8e;
    text-decoration: none;
}
@media (min-width: 1220px ) {
    .form__input {
        min-width:568px;
    }
    .form__submit {
        min-width: 370px;
    }
    .stats__wrapper {
        width: 1220px;
    }
    .stats__item {
        width: 300px;
    }
    .contacts__item {
        width: 300px;
    }
    .contacts__wrapper {
        width: 1220px;
    }
    .checkbox {
        text-align: left;
    }
    .headcont {
        width: 1220px;
    }
    .headin1220 {
        width: 1220px;
    }
    .copyrights__container {
        height: 156px;
        width: 1220px;
    }
    .card {
        width: 350px;
    }
    
    
}
@media (max-width: 856px ) {
    .popup-main {
        align-items: center;
    }
    .form__input {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .form__label p {
        text-align: start;
    }

}
/*@media (hover: hover) {
    @for $i from 0 through 20 {
        .list li:nth-child(#1) span {
        transition-delay: 0.05s * $i;
        }
    }
}*/
@media (max-width: 1220px ) {
    .headcont{
        @include adaptiv-value("width", 1220, 290, 2);
    }
    .video__text {
        @include adaptiv-value("width", 1220, 290, 0);
    }
    #wrapper {
        max-width:970px;
    }
    .review__text  {

    }
    .video__text {
        max-width: 555;
    }
}
@media (max-width: 992px ) {
    #wrapper {
        max-width:750px;
    }
    .info {
        margin:  0 auto;
    }
    .mentors__slide__info__name  {
        font-size: 15px!important;
    }
}
@media (max-width: 1220px ) {
    .menu {
        //position: absolute;
        @include adaptiv-value("right", 0, 15, 0);
    }
    /* * {
        @include adaptiv-value("width", 1220, 290, 1);
    }*/
    .logo {
       // @include adaptiv-value("width", 80, 60, 0);
    }
    .headcont {
       // @include adaptiv-value("width", 1220, 320, 0);
    }
    #wrapper {
        max-width:none;
    }
    .review__text {
        @include adaptiv-value("width", 880, 240, 0);
        @include adaptiv-value("margin-left", 40, 25, 0);
        @include adaptiv-value("margin-right", 40, 25, 0);
    }
    .blockquote-8 {
        @include adaptiv-value("width", 980, 290, 0);
    }
    .blockquote-8:before,
    .blockquote-8:after {
        @include adaptiv-value("font-size", 100, 65, 0);
    }
    .blockquote-8:before {
        @include adaptiv-value("top", -20, -10, 0);
    }

    .stats__list {
        @include adaptiv-value("padding-top", 0, 20, 0);
        flex-wrap: wrap;
    }
    .contacts__list {
        flex-wrap: wrap;
    }
    .headcont {
        flex-wrap: wrap;
        @include adaptiv-value("width", 1220, 290, 1);
    }
    .form__wrapper{
       // max-width: 300px;
    }
    .forminfo {
        flex-wrap: wrap!important;
        //margin: 0 auto; 
        //padding: 0 10px;
        //@include adaptiv-value("padding", 15, 10, 0)
       // @include adaptiv-value("padding-top", 55, 0, 0);
    }
    .info {
        //margin: 0 auto;
        //max-width: 300px;
        @include adaptiv-value("margin-bottom", 85, 35, 0);
        //@include adaptiv-value("margin-top", 0, 30, 0);
    }
    .info__title {
        @include adaptiv-value("font-size", 35, 25, 0);
        @include adaptiv-value("margin-bottom", 30, 20, 0);

    }
    .info__text {
        //max-width: 300px;
        @include adaptiv-value("width", 500, 290, 0);
        @include adaptiv-value("font-size", 16, 15, 0);
    }
    .forms {
        margin: 0 auto;
    }
    .form__title {
        @include adaptiv-value("margin-left", 0, 2, 0);
        @include adaptiv-value("margin-right", 0, 2, 0);
        @include adaptiv-value("font-size", 23, 22, 0);
        &:hover {
            @include adaptiv-value("letter-spacing", 2.24, 0.6, 0);
        }
    }
    .form__input {
        //min-width: 290px;
        //max-width: calc (290px + (1220 - 290) * ((1220px - 320px) / (1220 - 320)) );
        @include adaptiv-value("width", 568, 268, 0);
       // @include adaptiv-value("margin-left", 35, 0, 0);
        //@include adaptiv-value("margin-right", 35, 0, 0);
    }
    .form__submit {
        @include adaptiv-value("width", 370, 277, 0);
    }



    .card {
        @include adaptiv-value("width", 350, 190, 0);
    }
    .stats__item {
        @include adaptiv-value("width", 300, 120, 0);
        @include adaptiv-value("margin-bottom", 0, 20, 0);

    }
    .stats__about {
        @include adaptiv-value("font-size", 16, 11, 0);
    }
    .stats__item_photo {
        @include adaptiv-value("margin-bottom", 25, 5, 0);
    }
    .stats__numbers {
        @include adaptiv-value("font-size", 32, 20, 0);
        @include adaptiv-value("margin-bottom", 20, 10, 0);
    }
    .stats__list li {
        @include adaptiv-value("height", 183, 173, 0);
    }
    .video__content iframe  {
        @include adaptiv-value("width", 1220, 290, 0);
        @include adaptiv-value("height", 520, 190, 0);
    }
    .mentors__wrapper .block__title, .review__wrapper .block__title {
        @include adaptiv-value("padding-top", 70, 35, 0);
        @include adaptiv-value("padding-bottom", 25, 5, 0);
    }
    .review__wrapper .block__title  {
        @include adaptiv-value("margin-bottom", 0, 30, 0);
    }
    .mentors__slide__wrapper {
        //@include adaptiv-value("margin-bottom", 20, 35, 0);
    }
    .mentors__slide__image img {
        @include adaptiv-value("width", 337, 145, 0);
        @include adaptiv-value("margin-bottom", 0, 20, 0);
    }
    .mentors__slide__info  {
        hr {
            @include adaptiv-value("margin-top", 15, 0, 0);
            @include adaptiv-value("margin-bottom", 20, 10, 0);
        }
        p {
            @include adaptiv-value("font-size", 16, 13, 0);
        }
    }
    .mentors__slide__info__name {
        @include adaptiv-value("font-size", 20, 10, 0);
        //font-size: 15px!important;
    }
    .mentors__slide__about {
        @include adaptiv-value("margin-bottom", 0, 15, 0);
    }
    .mentors__slide__about p:last-child {
        @include adaptiv-value("margin-bottom", 13, 0, 0);
    }
    
    .title {
        @include adaptiv-value("font-size", 30, 26, 0);
        @include adaptiv-value("height", 37, 33, 0);
        &:hover {
            @include adaptiv-value("letter-spacing",  2.24, 1.12, 0);
        }
    }




    .contacts__item {
        @include adaptiv-value("width", 300, 120, 0);
        @include adaptiv-value("margin-top", 0, 20, 0);
        @include adaptiv-value("padding-top", 10, 0, 0);
        p {
            @include adaptiv-value("margin", 16, 5, 0);
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            @include adaptiv-value("font-size", 16, 13, 0);
        }
        a {
            @include adaptiv-value("font-size", 16, 10, 0);
            width: 100%;
            
        }
    }
    .contacts__wrapper {
        @include adaptiv-value("padding-top", 0, 20, 0);
        @include adaptiv-value("padding-bottom", 0, 20, 0);
    }
    .contacts__item_photo {
        @include adaptiv-value("margin-bottom", 20, 5, 0);
        @include adaptiv-value("height", 50, 40, 0);
    }
    .copyrights__container {
        @include adaptiv-value("height", 156, 111, 0);
    }
    .copyrights__item {
        @include adaptiv-value("font-size", 16, 13, 0);
    }
    .copyrights__link {
        @include adaptiv-value("margin-bottom", 16, 10, 0);
    }
    
}
.nav-cont {
    width: 100%;
    background-color: #f7f7f7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    //position: fixed;
    //top: 0;
    //width: 100%;
    //box-sizing: border-box;
    //z-index: 9999;
}
.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 100px;
    max-width: 1220px;
    margin: 0 auto;
    //@at-root: 90%;
}
.logo {
    justify-self: start;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    text-align: center;
    justify-self: end;
    padding: 0; 
}

/*.nav-menu li {
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
    transition: all 0.7s ease-out;
    &:hover {
        background-color: #337ab7;
        border-radius: 20px;
        vertical-align: middle;
        color: #ffffff;
        margin: 0 10px; 
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
    }
}

.nav-menu li:last-child {
    background-color: #337ab7;
    border-radius: 20px;
    vertical-align: middle;
}
.nav-menu li:last-child .menu__item {
    color: #ffffff; 

}
.nav-menu li:hover .menu__item {
    color: #ffffff;
}
.menu__item {

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #666666;
    text-decoration: none;
    margin: 0 20px;
    opacity: 1;
    transition: 0.7s;
    &:focus {
        text-shadow: 10px 5px 5px rgba(0, 0, 0, );
        border-bottom: 2px solid #ffffff;
    }
}/*

.nav-menu a:hover {
    //border-bottom: 2px solid #ffffff;
    font-size: 18px;
    letter-spacing: 0.05em;
    
}*/
.menu-toggle .bar {
    display: none;
}
@media screen and (max-width: 1023px) {
    .headcont {
        position: relative;
    }
    .mentors__slide__info {
        text-align: center;
        margin: auto;
    }
    .menu {
        display: grid;
        grid-template-columns: auto;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 9999;
        align-items: center;
        @include adaptiv-value("width", 1220, 320, 1);
        left: -15px;
        top: 80px;
        padding-bottom: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        transition: all 0.2s ease-out;
        text-align: center;
        opacity: 0;
        display: none;
        //top: -100%;
        a:hover {
            @include adaptiv-value("font-size", 18, 14, 0);
        }
    }
    .act {
        opacity: 1;
        display: block;
    }
    .menu__item {
        text-align: center;
        margin: 0 auto;
        padding: 0 10px;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menu-toggle .bar {
        display: block;
        font-size: 17px;
        text-align: center;
        color: #ffffff;
        margin: auto;
        opacity: 1;
    }
    .menu-toggle {
        display: flex;
        background-color: #337ab7;
        border-radius: 4px;
        height: 32px;
        width: 42px;    
        cursor: pointer;
    }
    #mobile.menu.active {
        opacity: 1;
    }
    .menu.active {
        opacity: 1;
        top:0;
    }
    .menu li{
        @include adaptiv-value("width", 400, 140, 0);
        margin: 0 auto;
        &:hover {
        margin: 15px auto 15px auto;

        }   
    }
    .menu__item {
        //@include adaptiv-value("width", 400, 140, 0);
        margin: 0 auto;
        @include adaptiv-value("font-size", 16, 13, 0);
        @include adaptiv-value("letter-spacing", 1.12, 0.3, 0);
    }
}
















.sitebuilding__wrapper {
    text-align:center;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1220px;
    margin-top: -100px;
}

.card {
	background-color: #c7c7c7;
	min-width: 290px;
	color: #111;
	font-size: 16px;
	text-align:center;
    align-items: center;  
	margin-right: 20px;
}


.siteb-container {
	max-width: 1200px;
	/*padding: 0 15px;*/
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.siteb-container .swiper-wrapper {
}


@media (max-width: 850px) {
	.card {
		width: 100%;
		margin: 0;
		flex-shrink: 0;
	}

	.siteb-container .swiper-wrapper {
		justify-content: initial;
		flex-wrap: nowrap;
	}
}